@import "./variables";

.button {
  @include color-fade(.1s);

  border: 2px solid black;
  color: black;
  background-color: white;
  padding: 13px 30px;

  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;

  position: relative;

  &:hover {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;

    .button-tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  &.active.focus,
  &.active:focus,
  &.focus,
  &.focus:active,
  &:active:focus,
  &:focus {
    background-image: none;
    outline: 0;
    outline-offset: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 4%;
    opacity: 0;
    transition: opacity .65s;

    &::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent black transparent;
    }
  }

}