h1 {
  text-align: center; }

.copyPasta {
  border: 2px solid black;
  padding: 15px;
  transition: background-color .05s linear, color .05s linear;
  /*&:hover {
    background-color: #ebebeb;
  }*/ }
  .copyPasta::selection {
    background: black;
    color: white; }
  .copyPasta::-moz-selection {
    background: black;
    color: white; }

.flash {
  -webkit-animation: flash .25s linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation: flash .25s linear;
  -moz-animation-iteration-count: 1;
  -ms-animation: flash .25s linear;
  -ms-animation-iteration-count: 1; }

@keyframes flash {
  0% {
    background-color: transparent;
    color: black; }
  50% {
    background-color: black;
    color: white; }
  100% {
    background-color: transparent;
    color: black; } }

@-webkit-keyframes flash {
  0% {
    background-color: transparent;
    color: black; }
  50% {
    background-color: black;
    color: white; }
  100% {
    background-color: transparent;
    color: black; } }

@-moz-keyframes flash {
  0% {
    background-color: transparent;
    color: black; }
  50% {
    background-color: black;
    color: white; }
  100% {
    background-color: transparent;
    color: black; } }

@-ms-keyframes flash {
  0% {
    background-color: transparent;
    color: black; }
  50% {
    background-color: black;
    color: white; }
  100% {
    background-color: transparent;
    color: black; } }
